<%= link_to 'Home', controller:'welcome' %>
<%= link_to 'New', new_article_path %>

<h1>Listing articles</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td valign = "top" width=600><%= article.text %></td>
    </tr>
  <% end %>
</table>